<div style="min-height: 350px; background-color: black; color:white;padding:25px">
  <h1>Not your average electrical estimator...</h1>
  <h4>Let's have a look:</h4>

</div>

<div class="module-container">

  <mat-card routerLink="/bio">
    <mat-card-title>
      Bio
    </mat-card-title>
  </mat-card>
  <mat-card routerLink="/gallery">
    <mat-card-title>
      Gallery
    </mat-card-title>
  </mat-card>
  <mat-card routerLink="/resume">
    <mat-card-title>
      Resume
    </mat-card-title>
  </mat-card>
  <mat-card routerLink="/contact">
    <mat-card-title>
      Contact
    </mat-card-title>
  </mat-card>
</div>
