<p>skills works!</p>
<h3>PDF Markup / Viewers</h3>
<ul>
  <li>BlueBeam Revu</li>
</ul>

<h3>Remote Collaboration / WFH</h3>
<ul>
  <li>MS Teams</li>
  <li>Zoom</li>
  <li>WebEx</li>
  <li>BlueJeans</li>
  <li>Slack</li>
</ul>

<h3>Estimating</h3>
<ul>
  <li>Accubid Pro</li>
  <li>Accubid Enterprise</li>
  <li>Zoom</li>
  <li>WebEx</li>
  <li>BlueJeans</li>
  <li>Slack</li>
</ul>

<h3>Project Management</h3>
<ul>
  <li>MS Teams</li>
  <li>Procore</li>
  <li>Asana</li>
</ul>

<h3>BI / Analytics</h3>
<ul>
  <li>MS Power BI</li>
  <li>Tableau</li>
  <li>Snowflake</li>
  <li>Databricks</li>
  <li>MongoDB</li>
</ul>

<h3>Document Control</h3>
<ul>
  <li>MS Teams</li>
  <li>Plan Grid</li>
</ul>

<h3>Data Management</h3>
<ul>
  <li>MS Teams</li>
  <li>AirTable</li>
  <li>WebEx</li>
</ul>

<h3>Cloud Storage</h3>
<ul>
  <li>Dropbox</li>
  <li>Box.com</li>
  <li>One Drive</li>
  <li>Google Drive</li>
  <li>AWS S3</li>
</ul>
