<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <h2>AERIAL SYSTEMS</h2>
</mat-toolbar>
<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <mat-nav-list fxLayout="row">
    <mat-list-item routerLink="/aerial/overview">Overview</mat-list-item>
    <mat-list-item routerLink="/aerial/stock">Stock</mat-list-item>
    <mat-list-item routerLink="/aerial/fpv">FPV</mat-list-item>
    <mat-list-item routerLink="/aerial/fleet">Fleet</mat-list-item>
    <mat-list-item routerLink="/aerial/customs">Customs</mat-list-item>
    <mat-list-item routerLink="/aerial/gallery">Gallery</mat-list-item>
  </mat-nav-list>
</mat-toolbar>
<div class="page-layout">
  <router-outlet></router-outlet>
</div>
