<h2>Background</h2>
<p>
  I've always maintained a fascination with electronics and flight. In 2015 I
  build my first FPV drone, and more recently became an FAA Part 107 Pilot in
  2019. These days, I focus on cinematic and stock footage.
</p>
<p>You can take a look at some recent art here:</p>
<p>Or if you'd like to purchase stock media, you can find it here:</p>
<h2>PROJECTS:</h2>

<h2>Interests</h2>
<ul>
  <li>UAS Design & Development</li>
  <li>Recovery Systems</li>
  <li>FPV (First-Person-View) Quads</li>
  <li>Image Analysis</li>
</ul>
