.wrapper {
  background-color: white;
  height: 100vh;
  max-width: 100vw;
}

.page-layout {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  max-width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;

}

.section-container {
  background-color: white;
}

